appName = opendatapolicing

[opendatapolicing]
languageName=enUS
appPath_enUS={{PROJECT_SRC}}
domainName=heytate.com
domainPackageName=org.opendatapolicing
suffixSrcMainJava=/src/main/java
suffixSrcGenJava=/src/gen/java
relativePathsToWatch=src/main/java/org/opendatapolicing/enus
jdbcHost="{{POSTGRES_HOST_NAME}}"
jdbcPort=5432
jdbcDatabase="{{PROJECT_DB_NAME_ENUS}}"
jdbcUsername={{PROJECT_DB_USER_ENUS}}
jdbcPassword="{{PROJECT_DB_PASSWORD_ENUS}}"
siteHostName={{PROJECT_SITE_HOST_NAME_ENUS}}
siteBaseUrl={{PROJECT_SITE_BASE_URL_ENUS}}
authRealm={{AUTH_REALM}}
authResource={{AUTH_RESOURCE}}
authSecret={{AUTH_SECRET}}
authUrl={{AUTH_URL}}
authSslRequired=all
sitePort={{PROJECT_SITE_PORT_ENUS}}
solrUrl=http://{{SOLR_HOST_NAME}}:{{SOLR_PORT}}/solr/{{PROJECT_SOLR_COLLECTION_ENUS}}
solrUrlComputate=http://{{SOLR_HOST_NAME}}:{{SOLR_PORT}}/solr/computate
apiContactEmail={{EMAIL_FROM}}
siteZone={{PROJECT_SITE_ZONE_ENUS}}
siteWriteMethods=html
siteWriteMethods=htmlMeta
siteWriteMethods=htmlScripts
siteWriteMethods=htmlScript
siteWriteMethods=htmlStyles
siteWriteMethods=htmlStyle
siteWriteMethods=htmlBody
staticBaseUrl={{PROJECT_STATIC_BASE_URL}}
