[Unit]
Description=Watch the computate app and generate Java code when the Java source files are modified. 
After=network.target

[Service]
Type=simple
User={{USER_NAME}}
Group={{USER_NAME}}
WorkingDirectory={{PROJECT_SRC}}
Environment=appName={{PROJECT_NAME}}
Environment=appPath={{PROJECT_SRC}}
Environment=appComputatePath={{COMPUTATE_SRC}}
Environment=lang={{PROJECT_LANG}}
ExecStart={{COMPUTATE_SRC}}/bin/enUS/watch.sh
LimitNOFILE=65000
LimitNPROC=65000
Restart=on-failure

[Install]
WantedBy=multi-user.target

